.text {
    font-family: 'Open Sans', sans-serif;
}

#main-navbar {
    position:fixed;
    top:0px;
    left:0px;
    background-color: white;
    height: 55px;
    width:100%;
    border-bottom: thin solid #8d9194;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#navbar-logo {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#navbar-logo img {
    height:90%;
    display: inline;
}

#navbar-logo h1 {
    height:100%;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
}

.navbarpostal-code-search {
    display:flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.postal-code-input-form {
    height: 35px;
    width: 200px;
    border: thin solid #8d9194;
    border-radius: 8px;
    color: #8d9194;
    text-align: center;
    font-size:12pt;
}

.search-button {
    border:none;
    background:none;
    height: 100%;
    display:inline;
    margin-left: 10px;
}

.search-button span {
    margin:0;
    padding:0;
    height: 100%;
    font-size: 15pt;
    font-weight: 200;
}


.navbar-href {
    display:flex;
    justify-content:center;
    align-items:center;
}

.navbar-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #313333;
    font-weight: 500;
}

.orange {
    color:#1d56c0;
}

.orange strong {
    font-size: 16pt;
}

#whole-body-container {
    padding-top: 60px;
    padding-left: 0px;
    background-color: rgb(249, 249, 249);
}

.profile-title {
    color: #313333;
    font-size: 25pt;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: -7px;
    padding-left:20px;
}

.profile-subtitle {
    color: #8d9194;
    font-size: 1em;
    font-weight: lighter;
    margin-left:35px;
}

#left-side-container {
    width: 65%;
}

.navbar {
    width: 100%;
    height: 30px;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    display:flex;
    -webkit-padding-start: 0px;
    justify-content: space-between;
}

.navbar li{
    float: left;
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1.2px solid #8d9194;
}

.navbar span {
    color: #8d9194;
}

#navbar-foto {
    border-bottom: 1.6px solid #1d56c0;
    color: #1d56c0;
}

#navbar-foto span{
    font-weight: bold;
    color: #1d56c0;
}


#media-container {
    margin-top: 27px;
    width: 100%;
    height: 380px;  
    background-color: rgb(249, 249, 249);
    display:flex;
    justify-content:space-around;
}

.media-arrow {
    display: flex;
    align-items: center;
}

.arrow-text {
    font-size: 30pt;
    color: #1d56c0;
}

#media-container img {
    height:380px;
}

#promo-container {
    position: fixed;
    width: 30%;
    height: 81%;
    right: 3%;
    top: 13%;
}

.promo-div {
    width:100%;
    height:20%;
    background-color: white;
    border-left: thin solid #8d9194;
    border-right: thin solid #8d9194;
}

#promo-price {
    display:flex;
    justify-content: space-around;
    border-top: thin solid #8d9194;
    border-bottom: double #8d9194;
}

#promo-price-text {
    width: 30%;
    height: 100%;
    margin-left: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#promo-price-text span {
    display:inline-block;
    padding-left: 10px;
}

#promo-price-number {
    display:inline;
    width: 70%;
    height:100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;         
}

#promo-price-number span {
    display:inline-block;
    padding-right: 30px;

}

.price-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: #313333;
    font-weight: 500;
}

.price-text strong {
    font-size: 18pt; 
    font-weight: 200;   
}

#promo-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.add-favorite-button {
    border: thin solid #313333;
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 60%;
}

.heart {
    color:rgb(179, 15, 15);
    font-size: 20pt;
    padding-right:20px;
}

.button-text {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: #313333;
    font-weight: bold;
    font-size: 14pt;
    padding-left:10px;
}

.fav {
    font-size: 14pt;
    color:#313333;
}

#promo-availability {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:10px;
}

#promo-availability-table {
    width: 100%;
    height: 100%;
}

#promo-availability-table tr {
    width: 100%;
    height: 27px;
}

.available-button {
    border:none;
    border-radius: 4px;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    width: 85px;
}

.available-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
    color: white;
    font-weight: 700;
}

.hurry-up-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: #1d56c0;
    font-weight: 700;
}

#promo-rating {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-button {
    border: thin solid #8d9194;
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 60%;
}

.star-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #bdb712;
}

#preguntas-message-form {
    border-bottom: thin solid #8d9194;
    height: 35%;
}

#preguntas-message-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-input-form {
    height: 100px;
    width: 320px;
    border: thin solid #8d9194;
    border-radius: 8px;
    color: #8d9194;
    text-align: center;
    font-size:12pt;
}

.send-form-button {
    border: none;
    border-radius: 8px;
    background-color: #1d56c0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin-top:10px;
    width: 320px;
    color: white;
}




