#profile-header {
    margin-left: 1%;
    margin-top:4.8%;
}

#profile-header h1 {
    margin:0;
    padding:0;
    margin-bottom: -0.6%;
    margin-top:0.5%;
}

#profile-header h2 {
    padding-left: 0.3%; 
}
