<!doctype html>
    <html>
        <head>
            <title>Title</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!--
            <link rel="stylesheet" href="///home/ote/Documentos/Trabajo/Ancianos/web/webancianos/stylesheet/general/style.css">
            -->
            
            <link rel="stylesheet" href="///home/ote/Documentos/Trabajo/Ancianos/web/webancianos/stylesheet/general/font.css">
            <link rel="stylesheet" href="///home/ote/Documentos/Trabajo/Ancianos/web/webancianos/stylesheet/general/layout.css">
            <link rel="stylesheet" href="///home/ote/Documentos/Trabajo/Ancianos/web/webancianos/stylesheet/general/container-format.css">
            <link rel="stylesheet" href="///home/ote/Documentos/Trabajo/Ancianos/web/webancianos/stylesheet/components/main-navbar.css">
            <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
             
        </head>

    <body>
        <div id="main-navbar" class="ct-center-v ct-sp-around br-bottom br-c-gm">
            <div class="ct-center-v">
                <img src="///home/ote/Documentos/Trabajo/Ancianos/web/webancianos/photos/logo.jpg" alt="imagen">
            </div>
            <div class="ct-center-v">
                <form action="POST" class="ct-center-v">
                    <input type="text" class="br br-c-gm f f-c-gm f-form" value=" Ciudad o Código Postal">
                    <button type="submit" class="br-none bg-c-white"><span class="f f-sttl"><i class="fas fa-search"></i></span></button>
                </form>
            </div>
            <div class="ct-center-v">
                <h1 class="f f-nvb f-c-gd">Resuelve tus dudas
                </h1>
            </div>
            <div class="ct-center-v">
                <span class="f f-emph f-c-b"><i class="fas fa-phone"></i>&nbsp</span>
                <span class="f f-emph f-c-b">900&nbsp000&nbsp000</span>
                <h1 class="f f-nvb f-c-b">&nbsp&nbspayuda gratuita</h1>
            </div>
            <div class="ct-center-v">
                <span class="f f-emph f-c-heart"><i class="fas fa-heart"></i></span>
            </div>
            <div class="ct-center-v">
                <span class="f f-nvb f-c-gd"><i class="fas fa-bars"></i></span>
            </div>
        </div> 
    </body>
</html>